!!!
%html
  %head
    %title SebastiBell Salsas
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
    / /[if IE]
    /   = javascript_include_tag 'html5'
  %body
    %ul
      %li
        = link_to "About Us", '#'
      %li
        = link_to "Recipes", '#'
      %li
        = link_to "Help", '#'
      %li
        = link_to "My Account", '#'
    = render 'flashes'
    = yield
    %ul
      %li
        = link_to "About Us", '#'
      %li
        = link_to "Recipes", '#'
      %li
        = link_to "Help", '#'
      %li
        = link_to "My Account", '#'